@import "tailwindcss";
:root {
    --font-poppins: "Inter", "sans-serif";
    --font-roboto: "Roboto", "sans-serif";

    --color-primary: #1E3D69;
    --color-secondary: #000E21;
    --color-anchor: #323232;

    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
}
@layer base {
    body {
        font-family: var(--font-poppins);
        color: var(--color-secondary);
        background-color: var();
    }
    h2, h3, h4, h5, h6 {
        font-family: var(--font-roboto);
        color: var(--color-primary);
    }
    p{
        font-family: var(--font-poppins);
        color: var(--color-secondary);
    }
    a{
        color: var(--color-anchor);
        text-decoration: none;
    }
}